# Python
*.pyc

# Django
/data/data.sqlite
/data/mapcache.sqlite
/data/test_mapcache.sqlite
/static

# EOxServer
/logs/eoxserver.log
/wcst_perm
/wcst_temp

# ngEO-B
/logs/debug.log
/logs/ngeo.log
/results
/data/failure/
/data/optimized/
/data/success/
